@keyframes shadow-drop-bottom {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  to {
    box-shadow: 0 12px 20px -12px rgb(0 0 0/35%);
  }
}
.footerbg7,
.medprompt14 {
  position: absolute;
  height: 100%;
  top: 0;
}
.footerbg7 {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-lavender-400);
}
.medprompt14 {
  width: 83.16%;
  left: 16.84%;
  font-weight: 800;
  display: inline-block;
}
.logopic-icon14 {
  position: absolute;
  height: 67.98%;
  width: 11.23%;
  top: 23.1%;
  right: 88.77%;
  bottom: 8.92%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.footerlogo7 {
  position: absolute;
  height: 18.41%;
  width: 86.83%;
  top: 0;
  right: 0.47%;
  bottom: 81.59%;
  left: 12.69%;
}
.your-trusted-platform7 {
  position: absolute;
  height: 58.94%;
  width: 100%;
  top: 41.06%;
  left: 0;
  font-size: var(--font-size-mini);
  line-height: 24px;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: justify;
  display: inline-block;
}
.footerabout7 {
  position: absolute;
  height: 40.83%;
  width: 24.68%;
  top: 10.26%;
  right: 65.59%;
  bottom: 48.92%;
  left: 9.73%;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-slateblue-100);
  font-family: var(--font-lato);
}
.medprompt-20247 {
  position: absolute;
  height: 3.75%;
  width: 22.34%;
  top: 87.18%;
  left: 39.88%;
  font-size: var(--font-size-sm);
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
}
.quick-links15 {
  margin-block-start: 0;
  margin-block-end: 12px;
}
.quick-links14 {
  position: absolute;
  height: 6.31%;
  width: 8.68%;
  top: 11.44%;
  left: 51.05%;
  line-height: 32px;
  display: inline-block;
}
.connect-with-us23,
.quick-links14 {
  font-weight: 600;
}
.connect-with-us22 {
  line-height: 24px;
}
.connect-with-us21 {
  margin: 0;
}
.blank-line71 {
  margin: 0;
  font-size: var(--font-size-mini);
}
.supportmedpromptcom15 {
  line-height: 20px;
}
.connect-with-us-container7 {
  position: absolute;
  height: 49.9%;
  width: 18.49%;
  top: 12.23%;
  left: 72.51%;
  display: inline-block;
}
.instaicon7 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ins7,
.insta7,
.instaicon7 {
  position: absolute;
}
.ins7 {
  top: 0;
  left: -6px;
  font-size: var(--font-size-mini);
  text-decoration: underline;
  line-height: 24px;
  font-family: var(--font-inter);
  color: var(--color-gray-100);
  text-align: justify;
  display: none;
  width: 20.6px;
  height: 20px;
}
.insta7 {
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 3.94%;
  width: 1.66%;
  top: 54.24%;
  right: 81.72%;
  bottom: 41.81%;
  left: 16.63%;
}
.about30:hover,
.doctors28:hover,
.facebook7:hover,
.insta7,
.insta7:hover,
.linkedin7:hover,
.read-more-b13:hover,
.read-more-b23:hover,
.read-more-b33:hover,
.services31:hover,
.testimonials20:hover,
.x14:hover {
  cursor: pointer;
}
.x15 {
  top: 0;
  left: -3.8px;
  font-size: var(--font-size-mini);
  text-decoration: underline;
  line-height: 24px;
  font-family: var(--font-inter);
  color: var(--color-gray-100);
  text-align: justify;
  display: none;
  width: 23.7px;
  height: 23px;
}
.fb7,
.x14,
.x15 {
  position: absolute;
}
.x14 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 4.54%;
  width: 1.91%;
  top: 54.24%;
  right: 84.77%;
  bottom: 41.22%;
  left: 13.32%;
}
.fb7 {
  top: 0;
  left: -2.6px;
  font-size: var(--font-size-mini);
  text-decoration: underline;
  line-height: 24px;
  font-family: var(--font-inter);
  color: var(--color-gray-100);
  text-align: justify;
  display: none;
  width: 20.6px;
  height: 20px;
}
.facebook7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 4.54%;
  width: 1.91%;
  top: 54.24%;
  right: 88.09%;
  bottom: 41.22%;
  left: 10.01%;
}
.facebook7,
.ld7,
.linkedin7 {
  position: absolute;
}
.ld7 {
  top: 0;
  left: -7.1px;
  font-size: var(--font-size-mini);
  text-decoration: underline;
  line-height: 24px;
  font-family: var(--font-inter);
  color: var(--color-gray-100);
  text-align: justify;
  display: none;
  width: 20.6px;
  height: 20px;
}
.linkedin7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 3.94%;
  width: 1.66%;
  top: 54.24%;
  right: 78.66%;
  bottom: 41.81%;
  left: 19.69%;
}
.about31 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-size: var(--font-size-base);
  line-height: 32px;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: justify;
  display: inline-block;
}
.about30,
.blogs14,
.doctors28,
.services31,
.testimonials20 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 6.11%;
  width: 3.94%;
  top: 21.89%;
  right: 45.02%;
  bottom: 71.99%;
  left: 51.05%;
}
.blogs14,
.doctors28,
.services31,
.testimonials20 {
  width: 5.55%;
  top: 29.39%;
  right: 43.41%;
  bottom: 64.5%;
}
.blogs14,
.doctors28,
.testimonials20 {
  width: 4.98%;
  top: 37.48%;
  right: 43.97%;
  bottom: 56.41%;
}
.blogs14,
.testimonials20 {
  width: 7.72%;
  top: 44.97%;
  right: 41.23%;
  bottom: 48.92%;
}
.blogs14 {
  height: 5.92%;
  width: 3.94%;
  top: 53.06%;
  right: 44.77%;
  bottom: 41.03%;
  left: 51.29%;
}
.footer7,
.rectangle-div {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.footer7 {
  height: 19.12%;
  top: 80.88%;
  text-align: justify;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.rectangle-div {
  height: 100%;
  top: 0;
  background-color: var(--color-lavender-700);
}
.latest-blog-posts3 {
  position: absolute;
  width: 25.24%;
  top: 5.97%;
  left: 37.38%;
  font-size: var(--font-size-10xl);
  letter-spacing: 0.03em;
  display: inline-block;
  font-family: var(--font-red-hat-mono);
  color: var(--color-mediumslateblue);
}
.reviewline18 {
  position: absolute;
  height: 0.28%;
  width: 83.03%;
  top: 15.56%;
  right: 8.69%;
  bottom: 84.17%;
  left: 8.28%;
  border-top: 2px solid var(--color-dimgray);
  box-sizing: border-box;
}
.blog-1-child1,
.blog1-icon3 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.blog-1-child1 {
  height: 100%;
  bottom: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-400);
}
.blog1-icon3 {
  height: 55.15%;
  bottom: 44.85%;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.at-medprompt-we8 {
  margin: 0;
  font-size: var(--font-size-smi);
}
.how-to-take-container3 {
  position: absolute;
  height: 27.58%;
  width: 88.62%;
  top: 59.54%;
  left: 6.64%;
  letter-spacing: 0.03em;
  display: inline-block;
}
.reviewline19 {
  position: absolute;
  height: 0.26%;
  width: 85.76%;
  top: 86.98%;
  right: 7.75%;
  bottom: 12.76%;
  left: 6.49%;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
}
.dr-aarav-sinha6 {
  position: absolute;
  height: 4.9%;
  width: 83.88%;
  top: 89.43%;
  left: 7.6%;
  font-size: var(--font-size-xs);
  letter-spacing: 0.03em;
  white-space: pre-wrap;
  display: none;
}
.blog-13 {
  position: absolute;
  height: 53.89%;
  width: 25.4%;
  top: 31.67%;
  right: 65.68%;
  bottom: 14.44%;
  left: 8.92%;
  font-size: var(--font-size-mini);
}
.april-23-20243,
.dr-aarav-sinha7,
.read-more9 {
  position: absolute;
  top: 572px;
  left: 136px;
  letter-spacing: 0.03em;
  display: inline-block;
  width: 108px;
  height: 18px;
}
.april-23-20243,
.read-more9 {
  left: 318px;
  width: 106px;
  height: 15px;
}
.read-more9 {
  text-decoration: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-size: var(--font-size-smi);
  font-weight: 700;
  font-family: var(--font-lato);
  color: var(--color-black);
  text-align: left;
}
.read-more-b13 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 2.08%;
  width: 6.75%;
  top: 73.47%;
  right: 67.23%;
  bottom: 24.44%;
  left: 26.02%;
}
.blog-2-child1,
.blog2-icon3 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.blog-2-child1 {
  height: 100%;
  top: 0;
  bottom: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-200);
}
.blog2-icon3 {
  height: 54.64%;
  top: 0.52%;
  bottom: 44.85%;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.care-for-your-container3 {
  position: absolute;
  height: 25.77%;
  width: 83.54%;
  top: 59.54%;
  left: 6.95%;
  letter-spacing: 0.03em;
  display: inline-block;
}
.reviewline20 {
  position: absolute;
  height: 0.26%;
  width: 85.76%;
  top: 86.98%;
  right: 7.44%;
  bottom: 12.76%;
  left: 6.8%;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
}
.dr-amit-verma7 {
  position: absolute;
  height: 4.9%;
  width: 83.88%;
  top: 89.43%;
  left: 7.91%;
  font-size: var(--font-size-xs);
  letter-spacing: 0.03em;
  white-space: pre-wrap;
  display: none;
}
.blog-23 {
  position: absolute;
  height: 53.89%;
  width: 25.4%;
  top: 31.67%;
  right: 37.46%;
  bottom: 14.44%;
  left: 37.14%;
  font-size: var(--font-size-mini);
}
.read-more10 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-size: var(--font-size-smi);
  letter-spacing: 0.03em;
  display: inline-block;
  font-family: var(--font-lato);
  color: var(--color-black);
  text-align: left;
}
.read-more-b23 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 2.08%;
  width: 6.27%;
  top: 73.47%;
  right: 38.59%;
  bottom: 24.44%;
  left: 55.13%;
}
.blog-3-child1 {
  position: absolute;
  height: 100%;
  width: 99.66%;
  top: 0;
  right: 0.34%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-200);
}
.neurology-science-advances-container3 {
  position: absolute;
  height: 25.77%;
  width: 83.26%;
  top: 59.54%;
  left: 8.22%;
  letter-spacing: 0.03em;
  display: inline-block;
}
.reviewline21 {
  position: absolute;
  height: 0.26%;
  width: 85.47%;
  top: 86.98%;
  right: 6.47%;
  bottom: 12.76%;
  left: 8.06%;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
}
.dr-vikram-singhania7 {
  position: absolute;
  height: 4.9%;
  width: 83.6%;
  top: 89.43%;
  left: 9.47%;
  font-size: var(--font-size-xs);
  letter-spacing: 0.03em;
  white-space: pre-wrap;
  display: none;
}
.blog-33 {
  position: absolute;
  height: 53.89%;
  width: 25.48%;
  top: 31.67%;
  right: 8.68%;
  bottom: 14.44%;
  left: 65.84%;
  font-size: var(--font-size-mini);
}
.read-more-b33 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 2.08%;
  width: 6.91%;
  top: 73.47%;
  right: 9.99%;
  bottom: 24.44%;
  left: 83.09%;
}
.dr-amit-verma8,
.dr-vikram-singhania8,
.march-15-20243,
.march-29-20243 {
  position: absolute;
  top: 572px;
  left: 498px;
  letter-spacing: 0.03em;
  display: inline-block;
  width: 108px;
  height: 18px;
}
.dr-vikram-singhania8,
.march-15-20243,
.march-29-20243 {
  left: 670px;
  width: 106px;
  height: 15px;
}
.dr-vikram-singhania8,
.march-15-20243 {
  left: 872px;
  width: 152px;
  height: 18px;
}
.march-15-20243 {
  left: 1046px;
  width: 106px;
  height: 15px;
}
.blog17 {
  position: absolute;
  height: 27.16%;
  width: 100%;
  top: 53.72%;
  right: 0;
  bottom: 19.12%;
  left: 0;
}
.team1-child1 {
  right: 0;
  bottom: 0;
  background-color: var(--color-lavender-100);
}
.expertbox1bg5,
.rated-47-stars4,
.team1-child1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.expertbox1bg5 {
  right: 0;
  bottom: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-lavender-200);
}
.rated-47-stars4 {
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
}
.rating15 {
  position: absolute;
  height: 5.23%;
  width: 45.19%;
  top: 19.16%;
  right: 14.81%;
  bottom: 75.61%;
  left: 40.01%;
  font-size: var(--font-size-5xs);
}
.cardiologist4,
.dr-atul-kasliwal4 {
  position: absolute;
  height: 5.92%;
  width: 50.45%;
  top: 5.92%;
  left: 39.45%;
  font-size: var(--font-size-xs);
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
}
.cardiologist4 {
  height: 6.62%;
  width: 26.32%;
  top: 12.54%;
  font-size: var(--font-size-3xs);
  font-weight: 300;
}
.experience15 {
  font-weight: 500;
}
.yrs20 {
  font-family: var(--font-inter);
}
.experience-28-yrs8 {
  margin-bottom: 0;
}
.qualification62 {
  font-weight: 500;
  font-family: var(--font-inter);
}
.experience-28-yrs-qualificat4 {
  margin: 0;
  font-size: inherit;
  padding-left: var(--padding-xs);
}
.mbbs-mdmedicine-sms-colleg9 {
  line-height: 15px;
}
.experience-28-container4,
.location-eternal-container4 {
  position: absolute;
  height: 38.33%;
  width: 91.23%;
  top: 36.24%;
  left: 2.91%;
  display: inline-block;
}
.location-eternal-container4 {
  height: 11.85%;
  width: 91.66%;
  top: 75.26%;
  left: 3.04%;
}
.dratul-icon4 {
  position: absolute;
  top: 10px;
  left: 6.8px;
  width: 75.7px;
  height: 76px;
  object-fit: cover;
}
.expertbox14 {
  position: absolute;
  height: 100%;
  width: 22.14%;
  top: 0;
  right: 77.86%;
  bottom: 0;
  left: 0;
}
.expertbox14:hover,
.servicesbox115:hover {
  cursor: default;
}
.dr-vikas-mittal4,
.general-physician4,
.rated-46-stars4 {
  position: absolute;
  height: 5.23%;
  width: 45.19%;
  top: 19.16%;
  left: 40.52%;
  font-size: var(--font-size-5xs);
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
}
.dr-vikas-mittal4,
.general-physician4 {
  height: 6.62%;
  width: 41.68%;
  top: 5.92%;
  left: 40.35%;
  font-size: var(--font-size-xs);
}
.general-physician4 {
  width: 37.27%;
  top: 12.54%;
  font-size: var(--font-size-3xs);
  font-weight: 300;
}
.experience-23-container4,
.location-co-container4 {
  position: absolute;
  height: 38.33%;
  width: 89.05%;
  top: 36.24%;
  left: 3.47%;
  display: inline-block;
}
.location-co-container4 {
  height: 11.85%;
  width: 86.39%;
  top: 75.26%;
}
.drvikas-icon4 {
  position: absolute;
  top: 10px;
  left: 8.1px;
  width: 75.7px;
  height: 76px;
  object-fit: cover;
}
.expertbox24 {
  position: absolute;
  height: 100%;
  width: 22.14%;
  top: 0;
  right: 51.75%;
  bottom: 0;
  left: 26.12%;
}
.dr-usha-m4,
.gynaecologist4 {
  position: absolute;
  height: 6.62%;
  width: 51.99%;
  top: 5.92%;
  left: 39.75%;
  font-size: var(--font-size-xs);
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
}
.gynaecologist4 {
  width: 29.82%;
  top: 12.54%;
  left: 39.92%;
  font-size: var(--font-size-3xs);
  font-weight: 300;
}
.experience-31-container4 {
  position: absolute;
  height: 41.81%;
  width: 92.9%;
  top: 36.24%;
  left: 3.12%;
  display: inline-block;
}
.location-press-container4,
.rated-48-stars11 {
  position: absolute;
  height: 11.85%;
  width: 91.66%;
  top: 74.91%;
  left: 3.51%;
  line-height: 20px;
  display: inline-block;
}
.rated-48-stars11 {
  height: 5.23%;
  width: 45.19%;
  top: 19.16%;
  left: 40.61%;
  font-size: var(--font-size-5xs);
  font-weight: 500;
}
.drusha-icon4 {
  position: absolute;
  top: 10px;
  left: 7.3px;
  width: 75.7px;
  height: 76px;
  object-fit: cover;
}
.expertbox34 {
  position: absolute;
  height: 100%;
  width: 22.14%;
  top: 0;
  right: 25.54%;
  bottom: 0;
  left: 52.33%;
}
.dr-vikram-bohra4 {
  position: absolute;
  height: 6.62%;
  width: 57%;
  top: 5.92%;
  left: 39.67%;
  font-size: var(--font-size-xs);
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
}
.experience-19-container4,
.rated-48-stars12 {
  position: absolute;
  height: 39.72%;
  width: 89.94%;
  top: 36.24%;
  left: 3.25%;
  display: inline-block;
}
.rated-48-stars12 {
  height: 5.23%;
  width: 45.19%;
  top: 19.16%;
  left: 40.78%;
  font-size: var(--font-size-5xs);
  line-height: 20px;
  font-weight: 500;
}
.drvikram-icon4 {
  position: absolute;
  top: 10px;
  left: 7.6px;
  width: 75.7px;
  height: 76.3px;
  object-fit: cover;
}
.docs45,
.expertbox44 {
  position: absolute;
  height: 100%;
  width: 22.14%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 77.86%;
}
.docs45 {
  height: 47.36%;
  width: 82.8%;
  top: 30.03%;
  right: 8.6%;
  bottom: 22.61%;
  left: 8.6%;
}
.our-experts4 {
  position: absolute;
  width: 18.97%;
  top: 4.95%;
  left: 41.07%;
  font-size: var(--font-size-13xl);
  letter-spacing: 0.03em;
  display: inline-block;
  font-family: var(--font-red-hat-mono);
  color: var(--color-mediumslateblue);
}
.servicesline7 {
  position: absolute;
  height: 0.33%;
  width: 83.04%;
  top: 17.33%;
  right: 8.53%;
  bottom: 82.34%;
  left: 8.44%;
  border-top: 2px solid var(--color-dimgray);
  box-sizing: border-box;
}
.view-all7 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-size: var(--font-size-lg);
  text-decoration: underline;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.view-all6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 2.97%;
  width: 5.62%;
  top: 82.34%;
  right: 9%;
  bottom: 14.69%;
  left: 85.37%;
}
.team13 {
  position: absolute;
  height: 22.86%;
  width: 99.61%;
  top: 3.62%;
  right: 0.08%;
  bottom: 73.52%;
  left: 0.31%;
  font-size: var(--font-size-4xs);
}
.servicesbox115,
.testimonials-child1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-lavender-600);
}
.servicesbox115 {
  border-radius: var(--br-5xs);
  background-color: var(--color-lightsteelblue-200);
}
.dealing-with-a3,
.rohan-verma3 {
  position: absolute;
  display: inline-block;
}
.dealing-with-a3 {
  height: 73.92%;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: 0.03em;
  line-height: 20px;
}
.rohan-verma3 {
  height: 16.25%;
  width: 22.91%;
  top: 83.84%;
  left: 0.49%;
  font-size: var(--font-size-xs);
  line-height: 18px;
  font-weight: 500;
  text-align: center;
}
.general15,
.service-133 {
  position: absolute;
  height: 68.91%;
  width: 84.41%;
  top: 16.17%;
  right: 9.56%;
  bottom: 14.93%;
  left: 6.03%;
}
.service-133 {
  height: 22.27%;
  width: 37.58%;
  top: 66.8%;
  right: 52.81%;
  bottom: 10.93%;
  left: 9.61%;
}
.service-113:hover,
.service-123:hover,
.service-133:hover,
.service-19:hover {
  cursor: pointer;
  animation: 1s ease-out 0s infinite normal none shadow-drop-bottom;
  opacity: 1;
}
.very-much-satisfied3,
.vikram-singh3 {
  position: absolute;
  display: inline-block;
}
.very-much-satisfied3 {
  height: 60.38%;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: 0.03em;
  line-height: 20px;
}
.vikram-singh3 {
  height: 16.25%;
  width: 25.12%;
  top: 83.84%;
  left: 0.49%;
  font-size: var(--font-size-xs);
  line-height: 18px;
  font-weight: 500;
  text-align: center;
}
.general16,
.service-123 {
  position: absolute;
  height: 68.91%;
  width: 84.41%;
  top: 16.11%;
  right: 9.56%;
  bottom: 14.99%;
  left: 6.03%;
}
.service-123 {
  height: 22.27%;
  width: 37.58%;
  top: 34.72%;
  right: 9.45%;
  bottom: 43.01%;
  left: 52.97%;
}
.the-ophthalmology-care3 {
  position: absolute;
  height: 54.06%;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: 0.03em;
  line-height: 20px;
  display: inline-block;
}
.anil-joshi3 {
  position: absolute;
  height: 16.25%;
  width: 17%;
  top: 83.84%;
  left: 0.49%;
  font-size: var(--font-size-xs);
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
}
.service-113 {
  position: absolute;
  height: 22.27%;
  width: 37.58%;
  top: 66.25%;
  right: 9.45%;
  bottom: 11.48%;
  left: 52.97%;
}
.testimonials23 {
  position: absolute;
  height: 5.25%;
  width: 17.58%;
  top: 4.99%;
  left: 41.48%;
  font-size: var(--font-size-10xl);
  letter-spacing: 0.03em;
  display: inline-block;
  font-family: var(--font-red-hat-mono);
  color: var(--color-mediumslateblue);
  text-align: left;
}
.reviewline22 {
  position: absolute;
  height: 0.28%;
  width: 83.03%;
  top: 14.11%;
  right: 8.52%;
  bottom: 85.61%;
  left: 8.45%;
  border-top: 2px solid var(--color-dimgray);
  box-sizing: border-box;
}
.chandrika-gupta3,
.what-our-patients3 {
  position: absolute;
  text-align: center;
  display: inline-block;
}
.what-our-patients3 {
  height: 6.22%;
  width: 35.47%;
  top: 18.67%;
  left: 32.58%;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.03em;
  font-weight: 600;
  font-family: var(--font-lato);
}
.chandrika-gupta3 {
  height: 16.25%;
  width: 31.28%;
  top: 83.84%;
  left: 0.49%;
  font-size: var(--font-size-xs);
  line-height: 18px;
  font-weight: 500;
}
.service-19,
.testimonials22 {
  position: absolute;
  height: 22.27%;
  width: 37.58%;
  top: 34.72%;
  right: 52.81%;
  bottom: 43.01%;
  left: 9.61%;
}
.testimonials22 {
  height: 27.24%;
  width: 100%;
  top: 26.48%;
  right: 0;
  bottom: 46.28%;
  left: 0;
  text-align: justify;
  font-size: var(--font-size-sm);
}
.menusectionbg7 {
  background-color: var(--color-aliceblue-200);
}
.menubtnsection7,
.menubtnsectionbg7,
.menusectionbg7 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.menubtnsection7 {
  width: 67.97%;
  left: 32.03%;
}
.logosectionbg7,
.medprompt15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 304.3px;
  height: 93px;
}
.medprompt15 {
  top: 32.7px;
  left: 75.9px;
  font-weight: 800;
  display: inline-block;
  width: 242.8px;
  height: 37.7px;
}
.logopic-icon15 {
  position: absolute;
  top: 39.4px;
  left: 34.4px;
  width: 32px;
  height: 27px;
}
.home16,
.logosection7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 318.7px;
  height: 93px;
}
.home16 {
  height: 100%;
  width: 100%;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.about32,
.blog18,
.doctors30,
.home15,
.services33,
.testimonial14 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 18px;
  width: 52px;
  position: relative;
}
.home15:hover {
  mix-blend-mode: normal;
}
.about32,
.blog18,
.doctors30,
.services33,
.testimonial14 {
  cursor: default;
  width: 55px;
}
.about32:hover,
.blog18:hover,
.doctors30:hover,
.home15:hover,
.services33:hover,
.testimonial14:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.blog18,
.doctors30,
.services33,
.testimonial14 {
  width: 77px;
}
.blog18,
.doctors30,
.testimonial14 {
  cursor: pointer;
  width: 72px;
}
.blog18,
.testimonial14 {
  width: 102px;
}
.blog18 {
  width: 40px;
  height: 23px;
}
.appointmentbg7 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs) var(--br-3xs) var(--br-5xs) var(--br-5xs);
  background-color: var(--color-slateblue-100);
}
.appointmenttext7 {
  position: absolute;
  height: 47.7%;
  width: 93.21%;
  top: 26.95%;
  left: 4.39%;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.appointment7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 175.2px;
  position: relative;
  height: 50.1px;
}
.appointment7:hover {
  box-shadow: 0 10px 4px #d8d8df;
  cursor: pointer;
}
.home-parent4 {
  position: absolute;
  top: 28px;
  right: 59px;
  width: 799px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-16xl);
}
.doctors-page,
.navbar7 {
  width: 100%;
  text-align: left;
}
.navbar7 {
  margin: 0;
  position: sticky;
  height: calc(100% - 2555px);
  top: 0;
  right: 0;
  bottom: 2555px;
  left: 0;
  font-size: var(--font-size-13xl);
  color: var(--color-slateblue-100);
  font-family: var(--font-lato);
}
.doctors-page {
  position: relative;
  background-color: var(--color-white);
  height: 2651px;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
